<div>
  <%= if flash = get_flash(@conn, :info) do %>
    <div class="success" role="alert"><%= flash %></div>
  <% end %>

  <%= if flash = get_flash(@conn, :error) do %>
    <div class="alert" role="alert"><%= flash %></div>
  <% end %>
</div>
