@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  padding: 4em 1em;

  // color: #555;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}

/*
 * CODE
 */

header {
  background-color: #263d36;
  background-image: url("/images/header-background-hands-computer.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 1vw 2em 19vw 2em;
  text-align: left;

  h1 {
    font-size: 4.5em;
    font-weight: 300;
    position: relative;
  }

  p {
    color: #566b78;
    font-size: 1.5em;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        display: inline;
        padding: 1em;
        width: 60px;
      }
    }
  }
}


/*
 * CODE
 */
code,
pre {
  background: #f5f7f9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}
