<h2>Edit post</h2>

<%= render "form.html", post_cs: @post_cs,
                        action: admin_post_path(@conn, :update, @post) %>

<h2>Post images</h2>
<%= render "_images.html", post: @post, image_cs: @image_cs %>

<%= link "Back", to: admin_post_path(@conn, :index) %>
