<h1>Blog</h1>

<%= for post <- @posts do %>
  <div>
    <div>
      <h3><%= link post.title, to: blog_path(@conn, :show, post) %></h3>
    </div>

    <div>
      <small>Posted on <%= format_posted_at(post.publish_at) %> by <%= post.author.first_name %></small>
    </div>

    <div>
      <%= markdown(post.body) %>
    </div>
  </div>
<% end %>

<%= render "_scripts.html" %>
