<h1><%= @post.title %></h1>
<small>Posted on <%= format_posted_at(@post.publish_at) %> by <%= @post.author.first_name %></small>

<%= markdown(@post.body) %>

<div id="disqus_thread"></div>

<%= render "_scripts.html" %>
